html {
  text-align: center;
  background-color: black;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

.header1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
#header2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color:gray;
}

#copyRight {
  text-align: right;
}
